#h1{
    color: tomato;
    font-family:"press start 2p";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 50px;
    padding: 5px;
    
}

#h2{
    font-family:"Gorditas";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    padding: 5px;


}
body{
    background-image:url(hand-painted-watercolor-pastel-sky-background_23-2148902771.png)
    
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#i2{
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 200px;
}

#i1{
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 1000px;
}
#h3{
    color: tomato;
    font-family:"press start 2p";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 50px;
    padding: 5px;
}
#h4{
    font-family:"Gorditas";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    padding: 5px;
}
#h5{
    border-style: double;
    border-width: 10px;
    border-radius: 500px;
    padding: 20px;
    font-family: "Rubik Doodle Shadow";
}
#h6{
    font-family:"Rubik Doodle Shadow";
}
#h7{
    color: tomato;
    font-family:"press start 2p";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 50px;
    padding: 5px;
    
}
#h8{
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 5000px;
}
#h9{
    font-family:"Gorditas";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    padding: 5px;
}  
#h10{
     border-radius: 5px;
     height: 50px; 
     background-color:lightpink;
}
#h11{
    color: tomato;
    font-family:"press start 2p";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 50px;
    padding: 5px;
}
#h12{
    border-style: outset;
    border-width: 10px;
    border-color:black;
    border-radius: 200px; 
}
#h13{
    font-family:"Gorditas";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    padding: 5px; 
}
#h14{
    border-radius: 200px;
     height: 50px; 
     background-color:lightpink;  
}
#h15{
    color: tomato;
    font-family:"press start 2p";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 50px;
    padding: 5px;
}
#h16{
    border-style: outset;
    border-width: 10px;
    border-color:black;
    border-radius: 200px;
}
#h17{
    font-family:"Gorditas";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    padding: 5px; 
}
#h18{
    color: tomato;
    font-family:"press start 2p";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 50px;
    padding: 5px;   
}
#h19{
    border-style: outset;
    border-width: 10px;
    border-color:black;
    border-radius: 200px;
}
#h20{
    font-family:"Gorditas";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    padding: 5px;  
}
#h21{
    color: tomato;
    font-family:"press start 2p";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 50px;
    padding: 5px;   
}
#h22{
    border-style: outset;
    border-width: 10px;
    border-color:black;
    border-radius: 200px;
}
#h23{
    font-family:"Gorditas";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    padding: 5px;
}
#h24{
    color: tomato;
    font-family:"press start 2p";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 50px;
    padding: 5px;  
}
#h25{
    border-style: outset;
    border-width: 10px;
    border-color:black;
    border-radius: 200px;
}
#h26{
    font-family:"Gorditas";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    padding: 5px;
}
#h27{
    font-family:"Gorditas";
    border-style: outset;
    border-width: 5px;
    border-color:black;
    border-radius: 10px;
    padding: 5px;
}
button{
    font-family:"Gorditas";
    
}